@model FishTracker.Models.Catch.CatchDetail

@{
    ViewBag.Title = "Catch Details";
}

<h2>Details</h2>

<div>
    <h4>CatchDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatchDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatchDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LureType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LureType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeatherType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeatherType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temperature)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temperature)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CatchId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
