@model IEnumerable<FishTracker.Models.Lure.LureListItem>

@{
    ViewBag.Title = "Lures";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Lure", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeOfLure)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfLure)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LureId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LureId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LureId })
        </td>
    </tr>
}

</table>
