@model IEnumerable<FishTracker.Models.Species.SpeciesListItem>

@{
    ViewBag.Title = "Species";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add New Species", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpeciesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AverageWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreferredLures)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpeciesName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AverageWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreferredLures)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpeciesId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SpeciesId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SpeciesId })
        </td>
    </tr>
}

</table>
